{% extends "blog/base.html " %}
{% load static %}

{% block content %}
<div>
    <h1>About me</h1>
    Hello , <br>
    My name is Bahy Alaa Allam, <br>
    I'm from Egypt, <br>
    I'm a Developer, <br>

    <h4>my skills</h4>
    <ul>
        <li>Paython</li>
        <li>Java Script</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>Postgresql</li>
    </ul>
    <br>
    <h4>my contact info</h4>
    <ul>
        <li><a href="https://www.facebook.com/Bahy410" target="_blank" class="fa fa-facebook"> </a></li>
        <li><a href="https://twitter.com/Bahy17728103?s=09" target="_blank" class="fa fa-twitter"> </a></li>
        <li><a href="https://www.freelancer.co.ke/u/bahyallam" target="_blank" ><img src="{% static '/freelancer-logo.png' %}" alt = "freelancer Logo" class ="freelancer"></a></li>
        <li ><strong class ="whatsapp" > <img src="{% static '/whatsapp-icon.png' %}" alt = "whatsapp Logo" >  +2 01117021617</strong> </li>
    </ul>




</div>
<br>
<div>
    <h1>About this blog</h1> <br>
    There is no real info in it just some words to fill in the space <br> <br>
    I used <a href="https://www.djangoproject.com/" ><strong> Django framework 3.0 </strong> </a>,
    <a href="https://www.sqlite.org/about.html" ><strong> SQLite3 </strong> </a>,
    <a href="https://www.w3schools.com/html/default.asp"> <strong>HTML5</strong> </a>,
    <a href="https://www.w3schools.com/css/default.asp"> <strong>CSS3</strong> </a>,
    <a href="https://www.w3schools.com/js/default.asp"> <strong>JavaScript</strong> </a> and
    <a href="https://getbootstrap.com/"> <strong>Bootstrap4</strong> </a>
    to make this website
    <br>
</div> <br> <br> <br> <br> <br> <br> <br>
{% endblock %}
